body {
	margin: 0;
	overflow: hidden;
	background: #f4f4f4;
}

.fullsize {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader-container {
	background: #fff;
	z-index: 999;
}

.showcase-swiper-container, .model-swiper-container {
	--swiper-theme-color: white !important;
	z-index: 900;
	background: #000;
}

.content-swiper-container {
	z-index: 800;
}

.slide-content {
	flex-direction: column;
	background: linear-gradient(to right, #fff 20%, #F39C12 30%,#F39C12 70%, #fff 80%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 200% auto;
	animation: textShine 10s ease-in-out infinite;
}

@keyframes textShine {
	to {
	  background-position: 200%;
	}
  }

.slide-thumbnail {
	object-fit: cover;
	mix-blend-mode: soft-light;
}

.object-swiper-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 140px;
	background: transparent;
	overflow: hidden;
}

.object-slide-title {
	width: 100%;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

.camera-icon-wrapper {
	width: 100%;
	height: calc(140px - 28px);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.camera-icon {
	background: url(../images/icons/camera.png) no-repeat center / 100% 100%;
	filter: invert(1);
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 25px;
}

.texture-swiper-container {
	width: 100%;
	margin-top: 25px;
}

.texture-swiper-container .swiper-slide {
	overflow: hidden;
}

.texture-thumbnail {
	object-fit: cover;
	width: 100%;
	height: calc( 140px - 28px );
	transition: 0.2s;
}

.home-btn {
	top: 20px;
	left: 20px;
}

.captionImage{
	font-size: 18px;
	margin-left: 33%;

}
.imageModel{
	width: 80%;
	height: 50%;
}

.innerData{
	display: flex; 
	flex-direction: column;
}

.instructions{
	font-size: 16px;
	font-weight: 100;
	justify-content: center;
}

.btn, .btn-large, .btn-small{
	background-color: #F39C12 !important;
	-webkit-text-fill-color: #fff
}

.btn-warning {
	background-color: rgb(223, 102, 102) !important;
}

.modal {
	width: 90% !important;
	max-height: 85% !important;
}

.modal.modal-fixed-footer {
	height: 85% !important;
}

.marble-swiper .swiper-slide {
	margin-right: 5px !important;
	width: 85px !important;
    height: 85px !important;
    border-radius: 50% !important;
}

.img-container{
    max-height: 200px !important;
}

.docs-cropped .modal-body > canvas {
	max-width: 100%;
}

.model-swiper-container{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f7f7f7;
}

.model-swiper-container .swiper-wrapper .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
    height: 70%;
    align-self: center;
}

.btn-small i{
	font-size: 1.5rem !important;
	color: #1B2631 !important;
}


@media only screen and (min-width: 600px) {
	.texture-thumbnail:hover {
		width: 150%;
	}
}


@media only screen and (max-width: 360px) {
	.imageModel{
		width: 110px;
		height: 80px;
	}
	
}
